.footer {
    background: var(--bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer-info:not(:last-child) {
    margin-bottom: 9px;
  }
  .item {
    margin-bottom: 20px;
  }
  .footer__map {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--second-title-color);
    text-decoration: none;
  }
  .footer__link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
  }
  .footer-container {
    display: flex;
    justify-content: flex-start;
  }
  .footer-social {
    margin-left: 70px;
    padding-top: 12px;
  }
  .footer-title {
    color: var(--second-title-color);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
  
    margin-bottom: 20px;
  }
  .footer-social-list {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-social-item {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  
  .footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 44px;
    height: 44px;
  
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
  
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
    background-color: var(--second-text-color);
      }
  }

  .footer-social-icon {
    width: 20px;
    height: 20px;
    fill: var(--second-title-color);
  }
