.footer {
    background: var(--bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer__social {
    margin-left: 70px;
    padding-top: 12px;
  }
  .footer__item:not(:last-child) {
    margin-bottom: 9px;
  }
  .item {
    margin-bottom: 20px;
  }
  .footer__map {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    color: var(--second-title-color);
    text-decoration: none;
  }
  .footer__link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
  }
  .footer-container {
    display: flex;
    justify-content: flex-start;
  }

  .footer-title {
    margin-bottom: 20px;
    color: var(--second-title-color);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
  }

 