.header {
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
.menu .menu__item:not(:last-child) {
  margin-right: 50px;
}

.contact-info {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.logo {
  margin-right: 93px;
}
.logo__link {
  display: block;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--second-text-color);
}
.logo__span-1 {
  color: var(--second-text-color);
}
.logo__span-2 {
  color: var(--main-color);
}
.footer .logo__span-2 {
  color: var(--second-title-color);
  margin-bottom: 20px;
}
