.team {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  
    background-color: #f5f4fa;
  }
  .regular-title {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .frame {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 120px) / 4);
  
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--second-title-color);
  }
  .person {
    padding-top: 30px;
    padding-bottom: 30px;
  
    color: var(--text-about);
  
    padding-left: 32px;
    padding-right: 32px;
  }
  .name-person {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--title-color);
    margin-bottom: 10px;
  }
  .about-person {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;
    color: var(--text-about);
  
    margin-bottom: 16px;
  }
  .social-list {
    display: flex;
    justify-content: space-between;
  }
  .social-list-icon {
    width: 20px;
    height: 20px;
    fill: #afb1b8;
  
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--second-title-color);
  
    transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .social-list-link:hover,
  .social-list-link:focus {
    fill: var(--second-text-color);
    background-color: var(--second-text-color);
  }
  .social-list-link:focus .social-list-icon,
  .social-list-link:hover .social-list-icon {
    fill: var(--second-title-color);
  }