.menu-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  padding: 32px 0;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;
  border-radius: 2px;
  background-color: var(--second-text-color);
  transform: scaleX(0);
}
.current {
  color: var(--second-text-color);
}
.menu-link.current::after {
  transform: scaleX(1);
}

.menu-link:hover::after,
.menu-link:focus::after {
  transform: scaleX(1);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--second-text-color);
}
